.topbar
  .company
    .row.company-name
      .large-12.columns
        .name
          = Company.from_email_address(@user.email)
    .row.user-top-menu
      .large-12.columns
        .profile-name
          Edit My Profile

.details
  = form_for(@user, multipart: true) do |f|
    .row
      .small-12.columns
        = f.label :name
        = f.text_field :name, { name: 'name', id: 'name' }
    .row
      .small-12.columns
        = f.label :company
        = f.select :company_id, Company.all.collect { |c| [ c.name, c.id ] }, {}, { name: 'company_id' }
    .row
      .small-12.columns
        = f.label :department
        = f.select :department_id, Department.all.collect { |d| [d.name, d.id] }, {}, { name: 'department_id' }
    .row
      .small-12.columns
        = f.label :image
        = f.file_field :image, name: 'image'
    .row
      .small-12.columns
        = f.submit 'Save', class: 'button'
