/ %h3 
/   = @user.name
.topbar
  .company
    .row.company-name
      .large-12.columns
        .name
          = Company.from_email_address(@user.email)
    .row.user-top-menu
      .large-12.columns
        .profile-name
          My Profile

.profile
  .row
    .large-12.columns
      .picture
        - if @user.image.nil?
          = image_tag 'avatar-empty.png'
        - else
          = image_tag @user.image.url
      .name
        %h1
          = @user.name
      .position
        %h2
          = @user.company.nil? ? "Company" : @user.company.name 
          |
          = @user.department.nil? ? "Department" : @user.department.name
  .actions
    .row
      .small-6.small-centered.columns
        %a{ href: edit_user_path(@user) } Edit Profile
        %a{ href: new_lead_path } Add Lead