.topbar
  .company
    .row.company-name
      .large-12.columns
        .name
          / = Company.from_email_address(current_user.email)
    .row.user-top-menu
      .large-12.columns
        .profile-name
          New Lead
.details  
  - if @products.nil?
    .companies    
      - Company.all.each do |company|
        .company{ class: cycle('odd', 'even') }
          %a.logo{ href: "#{new_lead_path}?company_id=#{company.id}" }
            = image_tag company.image.url
          .description
            %h3
              = company.name
            .body
              = company.description
  - else
    .products
      - @products.each do |product|
        .product
          %a.logo{ href: "#{new_lead_path}?product_id=#{product.id}" }
            = image_tag product.image.try(:url)
          .description
            %h3
              = product.name
            .body
              = product.description
