.topbar  
  .company
    .row.user-top-menu
      .large-12.columns
        .profile-name.tiny-icon
          %a.back
          - if select_company?
            Select Company
          - elsif select_product?
            Select Product
          - else
            Enter Contact 
- if !enter_contact?
  .sub-bar
    .row
      .large-12.columns
        Scroll Up or Down
.details  
  - if select_company?
    .companies    
      - Company.all.each do |company|
        .company{ class: cycle('odd', 'even') }
          %a.logo{ href: "#{new_lead_path}?company_id=#{company.id}" }
            = image_tag company.image_url
          .description
            %h3
              = company.name
            .body
              = company.description
  - elsif select_product?
    .products
      - @products.each do |product|
        .product
          %a.logo{ href: "#{new_lead_path}?product_id=#{product.id}" }            
            = image_tag product.image_url
          .description
            %h3
              = product.name
            .body
              = product.description
  - else
    .contacts
      = form_for(@lead) do |f|
        .row
          .small-12.columns
            = f.label :company
            %input{ type: 'text', value: @product.company.name, disabled: true }
        .row
          .small-12.columns
            = f.label :product
            %input{ type: 'text', value: @product.name, disabled: true }
        - if @product.company.has_branches?
          .small-12.columns
            = f.label :branch
            %select{ name: 'branch_id' }
              - @product.company.branches.each do |branch|
                %option{ value: branch.id } 
                  = branch.name
        .row
          .small-12.columns
            = f.label :name
            %input{ type: 'text', name: 'name', placeholder: 'Anabel Citizen', required: true }
        .row
          .small-12.columns
            = f.label :email
            %input{ type: 'email', name: 'email', placeholder: 'me@domain.com', required: true }
        .row
          .small-12.columns
            = f.label :phone_number
            %input{ type: 'text', name: 'phone_number', placeholder: '+254722200200', required: true }
        .row
          .small-12.columns
            = f.label :comments
            %textarea{ name: 'note' }
        .row
          .small-12.columns
            %input{ type: 'hidden', name: 'product_id', value: @product.id }
            %input{ type: 'hidden', name: 'submitted_by_id', value: current_user.id }
            = f.submit 'Submit', class: 'button'
