Hi <%= "#{@submitted_by_user.first_name} #{@submitted_by_user.last_name}" %>,
	<p>The lead that you submitted has been closed by <%= "#{@user.first_name} #{@user.last_name}" %>. The details of the lead were:</p>
	<p>Name: <%= @lead.name %>,</p>
	<p>Email: <%= @lead.email %>,</p>
	<p>Phone Number: <%= @lead.phone_number %></p>
	<p>Product: <%= @lead.product.name %></p>