Hi <%= @manager.name %>,
	<p>A lead has been closed by <%= @user.name%>. The details of the lead are:</p>
	<p>Name: <%= @lead.name %>,</p>
	<p>Email: <%= @lead.email %>,</p>
	<p>Phone Number: <%= @lead.phone_number %></p>
	<p>Product: <%= @lead.product.name %></p>
	<p>Submitted by: <%= @submitted_by_user.name %></p>
	